<div class="container">
    <h3> Test Login </h3>
    <form>
        <p-inputGroup>
            <p-inputGroupAddon>
                M
            </p-inputGroupAddon>
            <input pInputText type="email" placeholder="Adresse email" />
        </p-inputGroup>
        
        <p-inputGroup>
            <p-inputGroupAddon>*</p-inputGroupAddon>
            <input type="password" pInputText placeholder="Mot de passe" />
        </p-inputGroup>

    
    <!-- <p-button>Se connecter</p-button> -->
    </form>

</div>
