<div class="card flex">
    <p-dialog [(visible)]="visible">
      <ng-template pTemplate="headless">
        <div
        style="
          border-radius: 12px;
          background-image: radial-gradient(
            circle at left top,
            var(--primary-400),
            var(--primary-700)
          );
          margin-top: -250px; 
        "
        >
        <app-inputgroup></app-inputgroup>
          <div >
            <p-button
              label="Se connecter"
              
              (click)="setVisible()"
            ></p-button>
            <p-button
              label="Annuler"
              (click)="setVisible()"
            ></p-button>
          </div>
        </div>
      </ng-template>
    </p-dialog>
  </div>
  
